#session-form-container {
    position: relative;
    width: 400px;
    height: auto;
    background-color: #36393f;
    color: gray;
    border-radius: 5px;
    left: 30%;
    transform: translateX(-30%);
    top: 20%;
    padding: 35px;
    box-shadow: 0 2px 2px black;
}

/* .fade-in-animation {
    animation-name: fade-in;
    animation-duration: 0.25s;
}

.fade-out-animation {
    animation-name: fade-out;
    animation-duration: 0.25s;
}

@keyframes fade-out {
    from {top: 20%; opacity: 1;}
    to {top: 17%; opacity: 0;}
}

@keyframes fade-in {
    from {top: 17%; opacity: 0;}
    to {top: 20%; opacity: 1;}
} */

#session-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-header {
    font-size: 26px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
}

.sub-form-header {
    margin-bottom: 10px;
    text-align: center;
}

#session-form-container h3 {
    font-size: 14px;
}

#session-form-container a {
    text-decoration: none;
    font-size: 14px;
    color: #7289da
}

#session-form-container a:hover {
    text-decoration: underline;
}

#forgot-password-link {
    margin-top: 20px;
}