.home-interface {
    height: 100%
}

.servers-sidebar {
    float: left;
    background-color: #202225;
    width: 79px;
    min-width: 79x;
    height: 100%;
    border-right: 1px solid black;
    overflow: scroll;
}

aside::-webkit-scrollbar {
    display: none;
}

.server-show-container {
    width: 100%;
    height: 100%;
}

.channels-and-dms-sidebar {
    position: relative;
    float: left;
    background-color: #2f3136;
    width: 238px;
    min-width: 238px;
    height: 100%;
    overflow: auto;
}

.main-content {
    float: left;
    background-color: #36393f;
    height: calc(100% - 0px);
    width: calc(100% - 238px - 80px);
}

.channel-header {
    height: 46px;
    border-bottom: 1px outset rgb(27, 27, 27);
    box-shadow: 0 0px 1px black;
}

.channel-header > strong {
    padding: 0 10px 0 20px;
    font-size: 28px;
    color: rgb(95, 95, 95);
}

.channel-header > h1 {
    display: inline;
    font-size: 18px;
    color: white;
}

.chat-container {
    float: left;
    width: 85%;
    height: calc(100% - 48px);
}

.expand {
    width: 100%;
    height: calc(100% - 48px);
    overflow: hidden;
}

#chat-log {
    background-size: 500px;
    height: 89%;
    overflow: auto;
}

.message-input-container {
    position: relative;
    margin: 0 auto;
    height: 11%;
    width: 95%;
    border-top: 1px solid #40444b;
}

.message-input {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 97%;
    height: 40px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    background-color: #40444b;
    color: white;
}

.message-input:focus {
    outline: none;
}

.logout {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 160px;
    width: 70px;
    height: 30px;
}

.poor-wumpus {
    position: absolute;
    top: 70%;
    left: calc(52% - 9px);
    font-size: 16px;
    color: #72767d;
}