.harmony-app {
    height: 100vh;
}

#background {
    background-image: url('./images//discord-background.jpg');
    background-size: cover;
    background-position: bottom;
    height: 100%;
}

.form-label {
    display: block;
    font-size: 12px;
    margin-bottom: 8px;
}

.form-input {
    width: calc(100% - 10px);
    height: 25px;
    padding: 5px;
    background-color:  #303236;
    border: 1px inset black;
    border-radius: 4px;
    color: white;
}

.form-input:focus {
    outline: #7e97f1 1px auto;
}

.input-field {
    margin-top: 20px;
}