.modal {
    position: relative;
    height: 100%;
    visibility: hidden;
}

.is-open {
    visibility: visible;
}

.modal-screen {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-container {
    position: relative;
    width: 575px;
    height: 425px;
    background-color: white;
    left: 50%;
    transform: translateX(-50%);
    top: 25%;
    z-index: 3;
    border-radius: 10px;
    text-align: center;
}

.modal-container p {
    font-size: 14px;
    line-height: 1.5;
    color: #99aab5;
    margin-bottom: 30px;
}

.modal-container > p {
    width: 70%;
    font-size: 18px;
    margin: 40px auto;
}

.modal-container > p > strong {
    font-weight: bold;
}

.modal-container > strong {
    float: left;
}

.modal-container.notification {
    top: 30%;
    width: 400px;
    height: 200px;
}

.notification {
    text-align: center;
}

.notification-message {
    margin: 0 auto;
    width: 70%;
    font-size: 18px;
    padding: 40px 0 30px 0;
}

.notification-message > strong {
    color: red;
}

.notification > button {
    width: 25%;
}

.notification-yes {
    display: inline;
    margin-right: 60px;
}

.notification-no {
    display: inline;
}

.notification-yes:hover {
    background-color: #4ace92;
}

.notification-no:hover {
    background-color: rgb(236, 39, 39);
}

.channel-modal, .edit-name {
    width: 400px;
    height: 250px;
    background-color: #36393f;
}