.options-modal {
    height: 100%;
    background: url('./images/discord-options-background-1.png') no-repeat bottom right, url('./images/discord-options-background-2.png') no-repeat bottom left;
    background-size: 100px;
}

.options-modal > h1 {
    position: relative;
    top: 25px;
    color: #7289da;
    font-weight: bold;
    margin-bottom: 10px;
}

.options {
    width: 40%;
    height: 70%;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgb(230, 230, 230);
}

.options > h1 {
    margin: 20px 0 30px 0;
}

.options > div {
    margin-bottom: 10px;
}

.options > button {
    width: 90%;
}

.create-option {
    float: left;
    margin: 50px 0 25px 45px;
}

.create-option > h1 {
    color: #7289da;
}

.create-icon, .join-icon {
    width: 100%;
    height: 80px;
    background-image: url("./images/create-icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
}

.join-option {
    float: right;
    margin: 50px 45px 25px 0;
}

.join-option > h1 {
    color: #3ca374;
}

.join-icon {
    background-image: url("./images/join-icon.png");
}

.join-option > button {
    background-color: #3ca374;
}

.join-option > button:hover {
    background-color: #2c8b60;
}