.server-icon-container:hover {
    background-color: #7e97f1;
    border-radius: 20px;
}

.server-icon {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
}

.add-server.icon-container > h1 {
    color: #43b581;
    font-size: 48px;
    transition: color 0.25s;
}

.add-server.icon-container:hover {
    border-radius: 20px;
    background-color: #4ace92;
}

.add-server.icon-container:hover > h1 {
    color: white;
}

.server-input {
    height: 30px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid lightgray;
}

.server-input:focus {
    outline: none;
}

.server-submit {
    display: block;
}

.server-name-container {
    position: relative;
    padding-top: 16px;
    padding-bottom: 11px;
    border-bottom: 1px outset rgb(27, 27, 27);
    text-align: center;
    cursor: pointer;
    box-shadow: 0 0px 1px black;
    transition: background-color 0.5s;
}

.server-name-container:hover {
    background-color: #383c41;
}

.fa.fa-chevron-down {
    color: #7a7e83;
    transition: color 0.5s;
}

.server-name-container:hover >.fa.fa.fa-chevron-down {
    color: #c4cad1
}


.server-name {
    display: inline-block;
    width: 80%;
    font-weight: bold;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 auto;
}

.server-dropdown {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 55px;
    width: 200px;
    padding: 0 12px;
    background-color: rgba(17, 17, 17, 0.9);
    border-radius: 5px;
    z-index: 1;
    color: white;
    visibility: hidden;
}

.server-dropdown > li {
    font-size: 14px;
    padding: 3px 0;
    margin: 10px 0;
    border-bottom: 1px solid #2f3136;
    border-radius: 2px;
}

/* .server-dropdown > li:first-child {
    padding-bottom: 13px;
} */

.server-dropdown > li:hover {
    background-color: rgba(46, 46, 46, 0.9);
}

.server-dropdown > li:last-child {
    border-bottom: none;
}

.is-showing {
    visibility: visible;
}

.server-form-header {
    color: #7289da;
    font-weight: bold;
    padding: 30px 0 15px 0;
}

.description {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    font-size: 14px;
}

.server-input-div {
    position: absolute;
    top: 35%;
    left: 10%;
}

.server-label {
    margin-right: 114px;
    color: gray;
}

.server-input {
    font-size: 16px;
}

#preview-icon-container {
    background-color: #7e97f1;
    position: absolute;
    top: 33%;
    left: 62%;
    display: inline-block;
    width: 100px;
    height: 100px;
}

#preview-icon-container:hover {
    background-color: #7e97f1;
    border-radius: 50%;
    transition: none;
    cursor: default;
}

.preview-icon {
    font-size: 64px;
}

.server-buttons {
    position: absolute;
    bottom: 1px;
    width: calc(100% - 40px);
    padding: 20px 20px 30px 20px;
    background-color: #f6f6f7;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.delete-server, .leave-server {
    color: red;
}

.server-submit {
    display: inline;
    margin-left: 60%;
}

.back-text {
    display: inline;
    color: #99aab5;
    cursor: pointer;
}

.back-text > strong {
    font-size: 36px;
    font-weight: bold;
}

.server-submit {
    width: 20%;
}

.home-server {
    background-image: url('./images//harmony-icon.png');
    background-size: 50px;
    background-position: center center;
    background-repeat: no-repeat;
}

.servers-sidebar > .line {
    width: 50%;
    margin: auto;
    border-bottom: 2px solid #36393f;
}