.server-icon-container {
    display: block;
    padding: 15px;
    background-color: #2f3136;
    color: white;
    text-align: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 10px auto;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.25s;
    transition: border-radius 0.25s;
}

.server-icon-container:hover {
    background-color: #7e97f1;
    border-radius: 20px;
}

.server-icon {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
}

/* .add-server {
    display: block;
    padding: 15px;
    background-color: #2f3136;
    color: white;
    text-align: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 10px auto;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.25s;
    transition: border-radius 0.25s;
} */

#add-server > h1 {
    color: #43b581;
    font-size: 48px;
    transition: background-color 0.25s;
}

#add-server:hover {
    background-color: #4ace92;
    color: white;
}

.server-input {
    height: 30px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid lightgray;
}

.server-input:focus {
    outline: none;
}

.server-submit {
    display: block;
}

.server-name-container {
    position: relative;
    padding: 15px 0;
    border-bottom: 1px outset rgb(27, 27, 27);
    text-align: center;
    cursor: pointer;
    box-shadow: 0 0px 1px black;
    transition: background-color 0.5s;
}

.server-name-container:hover {
    background-color: #383c41;
}

.server-name {
    width: 80%;
    font-weight: bold;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 auto;
}

.server-dropdown {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 55px;
    width: 200px;
    padding: 0 12px;
    background-color: rgba(17, 17, 17, 0.9);
    border-radius: 5px;
    color: white;
    visibility: hidden;
}

.server-dropdown > li {
    font-size: 14px;
    padding: 12px 0;
    border-bottom: 1px solid #2f3136;
    border-radius: 2px;
}

.server-dropdown > li:hover {
    background-color: rgba(46, 46, 46, 0.9);
}

.server-dropdown > li:last-child {
    border-bottom: none;
}

.is-showing {
    visibility: visible;
}