.user-list-header {
    color: #8c93a0;
    font-size: 12px;
    font-weight: bold;  
    margin: 20px 10px 0px 20px;
}

.status-dropdown {
    position: absolute;
    right: 75px;
    background-color: rgba(17, 17, 17, 0.9);
    color: white;
    border-radius: 5px;
    width: 150px;
    bottom: 60px;
    margin-bottom: -15px;
    z-index: 1;
    cursor: pointer;
}

.status-dropdown > li {
    padding: 10px;
    border-bottom: 1px solid #36393f;
}

.status-dropdown > li:hover {
    background-color: rgba(46, 46, 46, 0.9);
}

.user-info {
    position: relative;
    display: flex;
    align-items: center;
    color: #767d88;
    cursor: pointer;
    text-decoration: none;
    width: 95%;
    height: 45px;
    left: 50%;
    transform: translateX(-50%);
    margin: 5px 0;
    border-radius: 5px;
}

.user-info:hover {
    background-color: rgb(54, 57, 63);
}

.user-info:focus {
    background-color: #3e4147;
    outline: none;
}

.user-tab {
    display: flex;
    align-items: center;
}

.user-icon.icon-container {
    position: relative;
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 0 0 8px;
    cursor: default;
}

.discord-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 30px;
    height: 30px;
}

.username {
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.users-list-container {
    float: right;
    width: 15%;
    height: calc(100% - 47px);
    background-color: #2f3136;
}

.user-options {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    position: absolute;
    bottom: 1px;
    background-color: #24272b;
}

.user-icon.icon-container.yellow {
    background-color: rgb(250, 208, 19);
} 

.user-icon.icon-container.green {
    background-color: green;
}

.user-icon.icon-container.gray {
    background-color: gray;
}

.user-icon.icon-container.red {
    background-color: red;
}

.user-icon.icon-container.blue {
    background-color: rgb(14, 115, 199);
}

.fa.fa-circle {
    position: relative;
    top: 10px;
    right: 15px;
    color: gray;
    text-shadow: 0px 0px 3px black;
}

.fa.fa-circle.Do.not.disturb {
    color: red;
}

.fa.fa-circle.Away {
    color: rgb(230, 190, 11);
}

.fa.fa-circle.Online {
    color: green
}

.fa.fa-circle.Offline {
    color: gray;
}

.message-container > .user-icon.icon-container, .live-message-container > .user-icon.icon-container {
    position: absolute;
    top: 15%;
}

.fa.fa-cog {
    font-size: 24px;
    cursor: pointer;
}

.user-options > .user-icon.icon-container {
    cursor: pointer;
}

.username-header {
    width: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: white;
    font-size: 14px;
}

.name-label {
    color: white;
}

.edit-name-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 55px;
    padding-top: 50px;
}

#edit-name-input {
    width: 80%;
}

.name-submit {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    width: 25%;
}

.join-server-header {
    color: #7289da;
    font-weight: bold;
    padding: 30px 0 0 0;
}

.join-name-div {
    padding-top: 30px;
}

.join-submit {
    top: 57%;
}

.user-dropdown {
    position: absolute;
    top: 1px;
    right: 260px;
    width: 250px;
    height: 300px;
    text-align: center;
}

.big.user-icon {
    width: 65px;
    height: 65px;
    margin: 10px 0;
}

.big.user-icon > .discord-icon {
    width: 65px;
    height: 65px;   
}

.dropdown-section-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
    background-color: #202225;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.dropdown-section-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 40%;
    background-color: #2f3136;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.modal-section-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 35%;
    background-color: #202225;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.user-container {
    display: flex;
    align-items: center;
}

.buttons-group {
    margin-right: 15px;
}

.modal-section-1 .username {
    text-align: start;
    font-size: 24px;
    margin-left: 20px;
    color: white;
}

.modal-section-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 65%;
    background-color: transparent;
}

.modal-section-2 > * {
    margin-left: 20px;
}

.user-profile-container {
    height: 100%;
}

.view-user-profile {
    width: 90%;
    margin: 0;
}

.direct-message-input {
    width: 90%;
}

.message-button {
    margin: 0;
    border-radius: 7px;
    width: 90px;
    height: 25px;
}