.user-list-header {
    color: #8c93a0;
    font-size: 12px;
    font-weight: bold;  
    margin: 20px 10px 0px 20px;
}

.status-dropdown {
    position: absolute;
    background-color: rgba(17, 17, 17, 0.9);
    color: white;
    border-radius: 5px;
    width: 150px;
    bottom: 60px;
    z-index: 1;
    cursor: pointer;
}

.status-dropdown > li {
    padding: 10px;
    border-bottom: 1px solid #36393f;
}

.status-dropdown > li:hover {
    background-color: rgba(46, 46, 46, 0.9);
}

.user-info {
    position: relative;
    color: #767d88;
}

.user-icon.icon-container {
    display: inline-block;
    width: 6px;
    height: 6px;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 2.5px 2px;
    margin-left: 20px;
    cursor: default;
}

.username {
    position: absolute;
    margin-left: 20px;
    left: 17.5%;
    top: 50%;
    transform: translateY(-50%);
    margin-bottom: 10px;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.users-list-container {
    float: right;
    width: 15%;
    height: calc(100% - 47px);
    background-color: #2f3136;
}

.user-options {
    width: 100%;
    position: absolute;
    bottom: 1px;
    background-color: #24272b;
}

.user-icon.icon-container.yellow {
    background-color: rgb(250, 208, 19);
} 

.user-icon.icon-container.green {
    background-color: green;
}

.user-icon.icon-container.gray {
    background-color: gray;
}

.user-icon.icon-container.red {
    background-color: red;
}

.user-icon.icon-container.blue {
    background-color: rgb(14, 115, 199);
}

.fa.fa-circle {
    position: absolute;
    left: 42px;
    top: 30px;
    color: gray;
    text-shadow: 0px 0px 3px black;
}

.fa.fa-circle.Do.not.disturb {
    color: red;
}

.fa.fa-circle.Away {
    color: rgb(230, 190, 11);
}

.fa.fa-circle.Online {
    color: green
}

.fa.fa-circle.Offline {
    color: gray;
}

.message-container > .user-icon.icon-container, .live-message-container > .user-icon.icon-container {
    position: absolute;
    top: 15%;
}

.fa.fa-cog {
    font-size: 36px;
    position: absolute;
    left: 50%;
    top: 7px;
    cursor: pointer;
}

.user-options > .user-icon.icon-container {
    position: absolute;
    cursor: pointer;
    left: -10px;
    top: -2px;
}

.username-header {
    position: absolute;
    left: 50px;
    top: 12px;
    width: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: white;
    font-size: 14px;
}

.name-label {
    color: white;
    margin-right: 264px;
}

.edit-name-div {
    padding-top: 50px;
}

#edit-name-input, #username-input {
    width: 80%;
}

.name-submit {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    width: 25%;
}

.join-server-header {
    color: #7289da;
    font-weight: bold;
    padding: 30px 0 0 0;
}

.join-name-div {
    padding-top: 30px;
}

.join-submit {
    top: 57%;
}